@import '_override_bootstrap.scss';

body
{
    background-color: black;
}
$logoheight: 6em;
nav
{
    img:first-child
    {
        height: $logoheight;
    }
    #AvatarImg
    {
        height: ($logoheight/2);
    }
    input
    {
        display: none;
    }
}